:root {
  --text-primary: #484848;
  --text-secondary: #9ea3aa;
  --color-primary: #484848;
  --color-secondary: #C2C6CC;
  --color-primary-dark: #2e2e2e;
  --gray: #EFF0F2;
  --gray-transparent: #EFF0F27F;
}

body {
  background-color: white;
}

.mapboxgl-canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}